<header class="header">
    <!-- logo -->
    <a [routerLink]="['/dashboard']" class="header__logo">
      SecEdu
    </a>

    <!-- navigation -->
    <nav class="header__menu">
      <a [routerLink]="['/dashboard']" routerLinkActive="active">Tableau de bord</a>
      <a [routerLink]="['/topics']" routerLinkActive="active">Thématiques</a>
      <a [routerLink]="['/user']" routerLinkActive="active">Discussions</a>
    </nav>

    <div class="header__user-profile">
      <img src="/assets/images/img/avatar.png" alt="">
    </div>
</header>
