<div class="course-card">
  <div class="course-info">
    <strong>Securité</strong>
    <h4>Passage pieton</h4>
  </div>
  <div class="course-porcentage">
    <div class="circle">
      <mat-progress-spinner class="gray-spinner" [value]="100"></mat-progress-spinner>
      <mat-progress-spinner
        class="blue-spinner"
        [value]="10">
      </mat-progress-spinner>
    </div>
    <div class="number">
      <strong>100%</strong>
      <span>Completed</span>
    </div>
  </div>
  <div class="course-resume">
    <button>Continuer</button>
  </div>
</div>
