<div class="sections">
  <div class="sections__title">
    <h2>Circulation</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, accusamus?</p>
  </div>
  <div class="sections__content">
    <div class="first-issues">
      <div class="issue-card">
        <div class="icon">
          <img src="/assets/images/sections/research.svg" class="incompleted">
        </div>
        <div class="description">
          <strong>Observation</strong>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, soluta!</p>
        </div>
      </div>
    </div>
  </div>
</div>
