<div class="sections" *ngIf="topic?.sections?.length > 0 else nothing">
  <div class="sections__title">
    <h2>{{ topic?.name }}</h2>
    <p>{{ topic?.label }}</p>
  </div>
  <div class="sections__content">
    <div class="first-issues">
      <div class="issue-card" *ngFor="let section of topic.sections">
        <div class="icon">
          <img src="/assets/images/sections/research.svg" [class.incompleted]="!section.completed">
        </div>
        <span class="success" *ngIf="section.completed">
          <i class="material-icons">check_circle</i>
        </span>
        <div class="description">
          <strong>{{ section.title }}</strong>
          <p>{{ section.content }}</p>
        </div>
      </div>
    </div>
    <div class="last-issues">
      <img src="/assets/images/certificate/005-trophy.svg" [class.incompleted]="!topic.is_completed">
    </div>
  </div>
</div>
<ng-template #nothing>
  <div class="empty-state">
    <div class="picture">
      <img src="/assets/images/empty.svg">
    </div>
    <div class="description">
      <h4>Vous allez bien ?</h4>
      <p>Désole il n'existe pas de sections pour cette thematique</p>
    </div>
    <span class="close" [routerLink]="['/topics']">
      <i class="material-icons">close</i>
    </span>
  </div>
</ng-template>
<app-loader *ngIf="showLoader"></app-loader>
