@import 'course-card';

.dashboard {
  display: block;
  padding-top: 90px;

  .courses {
    padding: 40px 20px;
  }


.progress-indicator-wrapper {
  display: table;
}

.progress-indicator-label {
  font-size: 2rem;
  display: table-cell;
  vertical-align: middle;
}

.dashboard {
  display: block;
  height: calc(100vh - 65px);
  margin-top: 65px;
  font-size: 1.5rem;
}

}
