.header {
  position: relative;
  left: 0;
  right: 0;
  height: 3rem;
  line-height: 3rem;
  color: $color-white;
  background-color: $color-primary;
  display: flex;
  flex-direction: row;
  box-shadow: 0 5px 15px -5px rgba(#000, .5);

  &__logo {
    font-weight: 700;
    padding: 0 2.5rem;
    float: left;
    font-size: 1rem;
    flex: 0 0 250px;
    text-shadow: 0 2px 8px rgba(#000, .1);
  }

  &__menu {
    flex: auto;
    text-align: right;
    height: 100%;

    a {
      padding: 0 10px;
      font-size: 0.9rem;
      display: inline-block;
      vertical-align: middle;
      font-weight: 300;

      &:hover {
        color: #c5cae9;
      }
    }
  }
}

/* MENU */
