.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 3rem;
  line-height: 3rem;
  color: $color-white;
  background-color: $color-primary;

  &__logo {
    font-weight: 700;
    padding: 0 2.5rem;
    float: left;
  }
}

/* MENU */
.menu {
  float: right;

  a {
    padding: 0 10px;
  }

  a:hover {
    color: #c5cae9;
  }
}
