.loader {
  position: fixed;
  z-index: 99999;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* MENU */
