.topics {
  display: block;
  padding-top: 80px;

  .topic {
    display: block;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 8px 15px rgba(#000, .05);
    margin-bottom: 40px;
    height: 300px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    outline: none;

    &:hover {
      box-shadow: 0 8px 15px rgba(#000, .1);
      transition: all 10s ease-in-out;

      img {
        width: 80%;
        transition: all 0.3s ease-in;
      }
    }

    &__picture {
      display: block;
      height: 210px;
      line-height: 120px;
      text-align: center;
      padding: 40px;

      img {
        display: inline-block;
        width: 70%;
        height: auto;
        transition: all 0.3s ease-in;
      }
    }

    &__body {
      display: block;

      h3 {
        font-weight: 700;
        font-size: .6rem;
        text-align: center;
      }
    }
  }
}
