.topics {
  display: block;

  .topic {
    display: block;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 8px 15px rgba(#000, .05);
    margin-bottom: 40px;
    height: 300px;
    cursor: pointer;

    &__picture {
      display: block;
      height: 210px;
      line-height: 120px;
      text-align: center;
      padding: 40px;

      img {
        display: inline-block;
        width: 70%;
        height: auto;
      }
    }

    &__body {
      display: block;

      h3 {
        font-weight: 700;
        font-size: .6rem;
        text-align: center;
      }
    }
  }
}
