<div class="lesson">
  <div class="row">
    <div class="col-12">
      <h3>{{ sectionName }}</h3>
    </div>
    <div class="col-12">
      <h6>Intructions</h6>
      <p>
        This section should give an instruction on how to use the material
      </p>
    </div>
    <div class="col-12">
      <div class="card rounded">
        <video
          style="width: 100%; height: 100%"
          src="{{ lesson.entry_video }}"
          controls
          (ended)="handleVideoEnded()"
        ></video>
      </div>
    </div>
    <hr class="hr" />
    <div class="col-12">
      <div class="card p-3 mt-2" style="font-size: 18px">
        <h5>Mise en contexte</h5>
        <p>{{ lesson.context }}</p>
      </div>
    </div>
    <hr class="hr" />
    <div class="col-12">
      <div class="card mt-2 p-3" style="font-size: 18px">
        <h5>Compétences visées</h5>
        <div>
          <ul>
            <li *ngFor="let outcome of lesson.learning_outcomes">
              {{ outcome }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12" *ngIf="initiationDone">
      <form #form="ngForm" (ngSubmit)="handleFormSubmit(form)" novalidate>
        <div class="form-group">
          <label for="risques" class="form-label">
            Quels risques identifiés vous ?
          </label>
          <select name="risques" class="form-control" ngModel>
            <option
              *ngFor="let answer of lesson.answers"
              value="{{ answer.is_correct }}"
            >
              {{ answer.content }}
            </option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Soumettre</button>
      </form>
    </div>
  </div>
</div>
